{% extends 'layout_content.html' %}

{% block content %}
    <div id="accordion" class="filter-form">
        <h3><a href="#">Liste des guichets par bailleurs</a></h3>
        <div>
            <form action="" method="post" id="form-filter">
                <ul>
                    {{ form.as_ul }}
                </ul>
                <div class="clear-l"></div>
                <input type="submit" value="Rechercher" />
                <div class="clear-l"></div>
            </form>
        </div>
    </div>

    <table id="example" class="display" style="width: 100%;">
    </table>

    <script type="text/javascript">
        $(document).ready(function() {
            $('label[for="id_etat"]').parent().css({'clear': 'left'});
            $('#id_creede').datepicker({
                changeMonth: true,
                changeYear: true
            });
            $('#id_creede').datepicker("option", $.datepicker.regional['fr']);
            $('#id_creea').datepicker({
                changeMonth: true,
                changeYear: true
            });
            $('#id_creea').datepicker("option", $.datepicker.regional['fr']);

            oTable = $('#example').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "oLanguage": {"sUrl": "/media/js/dataTables.french.txt"},
                "bFilter": false,
                "sAjaxSource": '/guichets/bailleurs/ajax/',
                "aoColumns": [
                    { "sTitle": "Commune", "mDataProp": "commune"},
                    { "sTitle": "Code", "mDataProp": "code", "sWidth": "40px" },
                    { "sTitle": "Création", "mDataProp": "creation", "sWidth": "60px" },
                    { "sTitle": "Bailleurs", "mDataProp": "bailleurs" },
                    { "sTitle": "Etat", "mDataProp": "etat", "sWidth": "60px", "bSortable": false },
                ],
                "sPaginationType": "full_numbers",
                "bJQueryUI": true,
                "fnServerData": function ( sSource, aoData, fnCallback ) {
                    aoData.push(
                        {"name": "fRegion", "value": $('#id_region').val()},
                        {"name": "fCommune", "value": $('#id_commune').val()},
                        {"name": "fDistrict", "value": $('#id_district').val()},
                        {"name": "fCode", "value": $('#id_code').val()},
                        {"name": "fCreede", "value": $('#id_creede').val()},
                        {"name": "fCreea", "value": $('#id_creea').val()},
                        {"name": "fEtat", "value": $('#id_etat').val()},
                        {"name": "fBailleur", "value": $('#id_bailleurs').val()}
                    );
                    $.ajax( {
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": {"csrfmiddlewaretoken": "{{ csrf_token }}", "data": aoData},
                        "success": fnCallback
                    } );
                },
                "sDom": 'rt<"F"ip>'
            });

            $('.filter-form input:submit').button();
            $('#form-filter').submit(function(){
                oTable.fnDraw();
                return false;
            });
            $('#accordion').accordion({ collapsible: true });
            $('#id_region').live('change', function(){
                $('#id_district').html('<option value="">---</option>');
                $('#id_commune').html('<option value="">---</option>');
                $.ajax({
                    type: 'POST',
                    url: '/cascade/region/',
                    data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "region": $(this).val()},
                    success: function(data){
                        var items = new Array();
                        items.push('<option value="">---</option>');
                        for(i=0; i<data.length; i++) {
                            items.push('<option value="' + data[i].id + '">' + data[i].nom + '</option>');
                        }
                        $('#id_district').html(items.join(''));
                    }
                });
            });

            $('#id_district').live('change', function(){
                $('#id_commune').html('<option value="">---</option>');
                $.ajax({
                    type: 'POST',
                    url: '/cascade/district/',
                    data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "district": $(this).val()},
                    success: function(data){
                        var items = new Array();
                        items.push('<option value="">---</option>');
                        for(i=0; i<data.length; i++) {
                            items.push('<option value="' + data[i].id + '">' + data[i].nom + '</option>');
                        }
                        $('#id_commune').html(items.join(''));
                    }
                });
            });
        } );
    </script>
{% endblock %}