{% extends 'layout_content.html' %}

{% block content %}
    <div id="accordion" class="filter-form">
        <h3><a href="#">Liste des guichets fonciers</a></h3>
        <div>
            <form action="" method="post" id="form-filter">
                <ul>
                    {{ form.as_ul }}
                </ul>
                <div class="clear-l"></div>
                <input type="submit" value="Rechercher" />
                <div class="clear-l"></div>
            </form>
        </div>
    </div>

    <table id="example" class="display" style="width: 100%;">
    </table>

    <script type="text/javascript">
        $(document).ready(function() {
            $('label[for="id_etat"]').parent().css({'clear': 'left'});
            $('#id_creede').datepicker({
                changeMonth: true,
                changeYear: true
            });
            $('#id_creede').datepicker("option", $.datepicker.regional['fr']);
            $('#id_creea').datepicker({
                changeMonth: true,
                changeYear: true
            });
            $('#id_creea').datepicker("option", $.datepicker.regional['fr']);

            oTable = $('#example').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "bFilter": false,
                "sAjaxSource": '/guichets/ajax/',
                "aoColumns": [
                    { "sTitle": "Commune", "mDataProp": "commune"},
                    { "sTitle": "Code", "mDataProp": "code", "sWidth": "40px" },
                    { "sTitle": "Création", "mDataProp": "creation", "sWidth": "60px" },
                    { "sTitle": "Agf1", "mDataProp": "agf1", "sWidth": "50px", "bSortable": false },
                    { "sTitle": "Mobile1", "mDataProp": "num1", "sWidth": "80px", "bSortable": false },
                    { "sTitle": "Psw1", "mDataProp": "password1", "sWidth": "40px", "bSortable": false },
                    { "sTitle": "Agf2", "mDataProp": "agf2", "sWidth": "50px", "bSortable": false },
                    { "sTitle": "Mobile2", "mDataProp": "num2", "sWidth": "80px", "bSortable": false },
                    { "sTitle": "Psw2", "mDataProp": "password2", "sWidth": "40px", "bSortable": false },
                    { "sTitle": "Etat", "mDataProp": "etat", "sWidth": "60px", "bSortable": false },
                    { "sTitle": "Actions", "mDataProp": "actions", "sWidth": "100px", "bSortable": false }
                ],
                "sPaginationType": "full_numbers",
                "bJQueryUI": true,
                "fnServerData": function ( sSource, aoData, fnCallback ) {
                    aoData.push(
                        {"name": "fRegion", "value": $('#id_region').val()},
                        {"name": "fCommune", "value": $('#id_commune').val()},
                        {"name": "fDistrict", "value": $('#id_district').val()},
                        {"name": "fCode", "value": $('#id_code').val()},
                        {"name": "fAgf1", "value": $('#id_agf1').val()},
                        {"name": "fMobile1", "value": $('#id_mobile1').val()},
                        {"name": "fAgf2", "value": $('#id_agf2').val()},
                        {"name": "fMobile2", "value": $('#id_mobile2').val()},
                        {"name": "fCreede", "value": $('#id_creede').val()},
                        {"name": "fCreea", "value": $('#id_creea').val()},
                        {"name": "fEtat", "value": $('#id_etat').val()}
                    );
                    $.ajax( {
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": {"csrfmiddlewaretoken": "{{ csrf_token }}", "data": aoData},
                        "success": fnCallback
                    } );
                },
                "sDom": 'rt<"F"ip>'
            });

            $('.filter-form input:submit').button();
            $('#form-filter').submit(function(){
                oTable.fnDraw();
                return false;
            });
            $('#accordion').accordion({ collapsible: true });
        } );
    </script>
{% endblock %}