{% extends 'layout_content.html' %}

{% block content %}
    <a href="{% url donnees.views.ajouter_donnees %}">&raquo; Insertion manuelle</a>
    <div id="accordion" class="filter-form">
        <h3><a href="#">Données reçues</a></h3>
        <div>
            <form action="" method="post" id="form-filter">
                <ul>
                    {{ form.as_ul }}
                </ul>
                <div class="clear-l"></div>
                <input type="submit" value="Rechercher" />
                <div class="clear-l"></div>
            </form>
        </div>
    </div>

    <table id="example" class="display" style="width: 100%;">
    </table>

    <div id="del-confirm" title="Suppression d'un enregistrement">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
            Voulez-vous supprimer cet enregistrement ?</p>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('label[for="id_demandes"]').parent().css({'clear': 'left'});
            $('label[for="id_recettes"]').parent().css({'clear': 'left'});
            $('label[for="id_periode_de"]').parent().css({'clear': 'left'});
            $('.filter-form input:submit').button();

            $('#accordion').accordion({
                collapsible: true
            });

            oTable = $('#example').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "oLanguage": {"sUrl": "/media/js/dataTables.french.txt"},
                "bFilter": false,
                "sAjaxSource": '/donnees/ajax/',
                "aoColumns": [
                    { "sTitle": "Commune", "mDataProp": "commune" },
                    { "sTitle": "Code", "mDataProp": "code", "sWidth": "60px" },
                    { "sTitle": "Période", "mDataProp": "periode", "sWidth": "60px" },
                    { "sTitle": "Dem", "mDataProp": "demandes", "sWidth": "30px" },
                    { "sTitle": "Opp", "mDataProp": "oppositions", "sWidth": "30px" },
                    { "sTitle": "Res", "mDataProp": "resolues", "sWidth": "30px" },
                    { "sTitle": "Cert", "mDataProp": "certificats", "sWidth": "30px" },
                    { "sTitle": "Fem", "mDataProp": "femmes", "sWidth": "30px" },
                    { "sTitle": "Surf", "mDataProp": "surfaces", "sWidth": "60px" },
                    { "sTitle": "Rect", "mDataProp": "recettes", "sWidth": "60px" },
                    { "sTitle": "Gar", "mDataProp": "garanties", "sWidth": "30px" },
                    { "sTitle": "Reco", "mDataProp": "reconnaissances", "sWidth": "30px" },
                    { "sTitle": "Mut", "mDataProp": "mutations", "sWidth": "30px" },
                    { "sTitle": "Validé", "mDataProp": "valide", "sWidth": "30px" },
                    { "sTitle": "Actions", "mDataProp": "actions", "sWidth": "80px" }
                ],
                "sPaginationType": "full_numbers",
                "bJQueryUI": true,
                "fnServerData": function ( sSource, aoData, fnCallback ) {
                    aoData.push(
                        {"name": "fRegion", "value": $('#id_region').val()},
                        {"name": "fCommune", "value": $('#id_commune').val()},
                        {"name": "fDistrict", "value": $('#id_district').val()},
                        {"name": "fCode", "value": $('#id_code').val()},
                        {"name": "fDemandes", "value": $('#id_demandes').val()},
                        {"name": "fOppositions", "value": $('#id_oppositions').val()},
                        {"name": "fResolues", "value": $('#id_resolues').val()},
                        {"name": "fCertificats", "value": $('#id_certificats').val()},
                        {"name": "fFemmes", "value": $('#id_femmes').val()},
                        {"name": "fRecettes", "value": $('#id_recettes').val()},
                        {"name": "fMutations", "value": $('#id_mutations').val()},
                        {"name": "fGaranties", "value": $('#id_garanties').val()},
                        {"name": "fSurfaces", "value": $('#id_surfaces').val()},
                        {"name": "fReconnaissances", "value": $('#id_reconnaissances').val()},
                        {"name": "fPeriodeDe", "value": $('#id_periode_de').val()},
                        {"name": "fPeriodeA", "value": $('#id_periode_a').val()}
                    );
                    $.ajax( {
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": {"csrfmiddlewaretoken": "{{ csrf_token }}", "data": aoData},
                        "success": fnCallback
                    } );
                },
                "sDom": 'rt<"F"ip>'
            });

            $('#del-confirm').dialog({
                autoOpen: false,
                resizable: false,
                height:150,
                modal: true
            });

            $('.del-link').live('click', function(e) {
                e.preventDefault();
                var targetUrl = $(this).attr("href");
                $('#del-confirm').dialog({
                    buttons : {
                        "Supprimer": function() {
                            $.ajax({
                                "dataType": 'json',
                                "type": "POST",
                                "url": targetUrl,
                                "data": {"csrfmiddlewaretoken": "{{ csrf_token }}"},
                                "success": function() {
                                    oTable.fnDraw();
                                }
                            });
                            $(this).dialog("close");
                        },
                        "Annuler": function() {
                            $(this).dialog("close");
                        }
                    }
                });
                $('#del-confirm').dialog('open');
            });

            $('#form-filter').submit(function(){
                oTable.fnDraw();
                return false;
            });

            $('#id_region').live('change', function(){
                $('#id_district').html('<option value="">---</option>');
                $('#id_commune').html('<option value="">---</option>');
                $.ajax({
                    type: 'POST',
                    url: '/cascade/region/',
                    data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "region": $(this).val()},
                    success: function(data){
                        var items = new Array();
                        items.push('<option value="">---</option>');
                        for(i=0; i<data.length; i++) {
                            items.push('<option value="' + data[i].id + '">' + data[i].nom + '</option>');
                        }
                        $('#id_district').html(items.join(''));
                    }
                });
            });

            $('#id_district').live('change', function(){
                $('#id_commune').html('<option value="">---</option>');
                $.ajax({
                    type: 'POST',
                    url: '/cascade/district/',
                    data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "district": $(this).val()},
                    success: function(data){
                        var items = new Array();
                        items.push('<option value="">---</option>');
                        for(i=0; i<data.length; i++) {
                            items.push('<option value="' + data[i].id + '">' + data[i].nom + '</option>');
                        }
                        $('#id_commune').html(items.join(''));
                    }
                });
            });
        } );
    </script>
{% endblock %}