{% extends 'layout_content.html' %}

{% block content %}
    <div id="accordion" class="filter-form">
        <h3><a href="#">Liste des SMS reçus</a></h3>
        <div>
            <form action="" method="post" id="form-filter">
                <ul>
                    {{ form.as_ul }}
                </ul>
                <div class="clear-l"></div>
                <input type="submit" value="Rechercher" />
                <div class="clear-l"></div>
            </form>
        </div>
    </div>

    <table id="example" class="display" style="width: 100%;">
    </table>

    <script type="text/javascript">
        $(document).ready(function() {
            $('label[for="id_etat"]').parent().css({'clear': 'left'});
            $('.filter-form input:submit').button();
            $('#id_cree_de').datepicker({
                changeMonth: true,
                changeYear: true
            });
            $('#id_cree_de').datepicker("option", $.datepicker.regional['fr']);
            $('#id_cree_a').datepicker({
                changeMonth: true,
                changeYear: true
            });
            $('#id_cree_a').datepicker("option", $.datepicker.regional['fr']);

            $('#accordion').accordion({
                collapsible: true
            });

            oTable = $('#example').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "oLanguage": {"sUrl": "/media/js/dataTables.french.txt"},
                "bFilter": false,
                "sAjaxSource": '/receptions/ajax/',
                "aoColumns": [
                    { "sTitle": "Date / Heure", "mDataProp": "date_reception", "sWidth": "100px" },
                    { "sTitle": "Expediteur", "mDataProp": "numero", "sWidth": "80px" },
                    { "sTitle": "Message", "mDataProp": "message", "bSortable": false, "sWidth": "400px" },
                    { "sTitle": "Statut", "mDataProp": "statut", "sWidth": "60px" },
                    { "sTitle": "Réponse", "mDataProp": "reponse", "bSortable": false }
                ],
                "sPaginationType": "full_numbers",
                "bJQueryUI": true,
                "fnServerData": function ( sSource, aoData, fnCallback ) {
                    aoData.push(
                        {"name": "fExpediteur", "value": $('#id_expediteur').val()},
                        {"name": "fMessage", "value": $('#id_message').val()},
                        {"name": "fCreede", "value": $('#id_cree_de').val()},
                        {"name": "fCreea", "value": $('#id_cree_a').val()},
                        {"name": "fStatut", "value": $('#id_statut').val()}
                    );
                    $.ajax( {
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": {"csrfmiddlewaretoken": "{{ csrf_token }}", "data": aoData},
                        "success": fnCallback
                    } );
                },
                "sDom": 'rt<"F"ip>'
            });

            $('#form-filter').submit(function(){
                oTable.fnDraw();
                return false;
            });
        } );
    </script>
{% endblock %}