{% extends 'layout_content.html' %}
{% block page_js %}
    <script src="/media/js/sms/smstester.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div id="accordion" class="edit-form">
        <h3><a href="#">SMS tester</a></h3>
        <div>
            <form action="" method="post" id="tester-form">
                {% csrf_token %}
                {{ form.as_p }}
                <span id="nchar" style="font-size:10px;"></span>
                <br /><br />
                <input type="submit" class="submit" value="Enregistrer" />
            </form>

            <br/><br/>
            <small>Format : AGF0430#ABCD .p 11.2010 .d 12 .o 3 .r 4 .c 9 .f 1 .t 14 .a 230000 .s 0.233 .g 0 .m 1#mon commentaire<br/>
                code_agf<strong style="color: red">#</strong>psw_agf
                <br/><strong style="color: red">.p</strong> periode au format mm/aaaa
                <br/><strong style="color: red">.d</strong> demandes
                <br/><strong style="color: red">.o</strong> oppositions
                <br/><strong style="color: red">.r</strong> resolues
                <br/><strong style="color: red">.c</strong> certificats
                <br/><strong style="color: red">.f</strong> femmes
                <br/><strong style="color: red">.t</strong> reconnaissances
                <br/><strong style="color: red">.a</strong> recettes
                <br/><strong style="color: red">.s</strong> surfaces
                <br/><strong style="color: red">.g</strong> garanties
                <br/><strong style="color: red">.m</strong> mutations<br/>
                <strong style="color: red">#</strong>commentaire texte libre
            </small>
        </div>
    </div>
{% endblock %}
