{% extends 'layout_content.html' %}

{% block content %}
    <div class="titlebar">
        <div class="title">
            <h1>SMS tester</h1>
        </div>
        <div class="navigation"></div>
        <div class="clear"></div>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="add">
            Format : AGF048#0000 .p 11.2010 .d 1000 .o 1200 .r 2000 .c 3000 .f 0000 .t 1000 .a 1000000000 .s 0.233 .g 1000 .m 2000<br/>
            code_agf#psw_agf/periode mm.aaaa/demandes/oppositions/resolues/certificats/femmes/reconnaissances/recettes/surfaces/garanties/mutations<br/>
            {{ form.as_p }}
            <input type="submit" class="submit" value="Enregistrer" />
        </fieldset>
    </form>
{% endblock %}