body {
    margin:0;
    padding:0;
    font-family:'Lucida sans','Trebuchet MS',Arial,sans-serif;
    font-size:11px;
    &.body {
        text-align:center;
        background:#DAD293;
    }
    a {
        text-decoration:none;
        color:#327e04;
    }
    h1 {
        margin: 10px 0 20px 0;
        font-size: 20px;
        color: #327e04;
    }
    table {
        border-spacing: 0;
        border-collapse: collapse;
    }
    #wrapper {
        width:1000px;
        margin:0 auto;
        text-align:left;
        position:relative;
        #header {
            position:relative;
            z-index:10;
            #header-wiz {
                #header-logo {
                    width:240px;
                    height:40px;
                    float:left;
                    font-family:"courier new", monospace;
                    font-weight:bold;
                    font-size:24px;
                    color:#3F2203;
                    text-shadow:1px 1px 1px #FAFAF4;
                    line-height:60px;
                    overflow:hidden;
                }
                #header-user {
                    width:700px;
                    float:right;
                    text-align:right;
                }
            }
            #header-nav {
                position:relative;
                width:1000px;
                height:30px;
                background:#6B4602;
                background: -webkit-gradient(linear, left top, left bottom, from(#6B4602), to(#472F04));
                background-image: -moz-linear-gradient(top, #6B4602, #472F04);
                border-top:1px solid #261902;
                ul {
                    position:absolute;
                    top:0;
                    left:0;
                    margin:0;
                    padding:0;
                    list-style-type:none;
                    li {
                        position:relative;
                        float:left;
                        a {
                            display:block;
                            width:auto;
                            height:30px;
                            padding:0 10px;
                            font-size:12px;
                            font-weight:bold;
                            color:#ffffff;
                            line-height:30px;
                            text-shadow:1px 1px 1px #8E5E0B;
                            border-right:1px solid #8E5E0B;
                            border-left:1px solid #261902;
                            &:hover {
                                border-right:1px solid #A2DD49;
                                text-shadow:1px 1px 1px #122D0B;
                                background:#67b021;
                                background: -webkit-gradient(linear, left top, left bottom, from(#327e04), to(#67b021));
                                background-image: -moz-linear-gradient(top, #327e04, #67b021);
                            }
                            &.first {
                                border-left:none;
                            }
                            &.last {
                                border-right:none;
                            }
                        }
                        ul {
                            margin-top:-1000px;
                            width:160px;
                            top:31px;
                            background:#ffedad;
                            border-left:1px solid #AFA769;
                            border-right:1px solid #AFA769;
                            border-bottom:1px solid #AFA769;
                            border-radius:0 0 6px 6px;
                            li {
                                float:none;
                                display:block;
                                a {
                                    height:25px;
                                    width:160px;
                                    border:none;
                                    float:left;
                                    text-shadow:none;
                                    font-size:11px;
                                    line-height:25px;
                                    color:#472F04;
                                    font-weight:normal;
                                    border-right:none;
                                    padding:0;
                                    text-indent:8px;
                                    &:hover {
                                        color:#000000;
                                        background:#D1C883;
                                        text-shadow:none;
                                        background: -webkit-gradient(linear, left top, left bottom, from(#B7AE66), to(#D1C883));
                                        background-image: -moz-linear-gradient(top, #B7AE66, #D1C883);
                                    }
                                    &.last {
                                        border-right:none;
                                        border-radius:0 0 5px 5px;
                                    }
                                }
                            }
                        }
                        &:hover {
                            ul {
                                margin-top:0;
                                li {
                                    a {
                                        height:25px;
                                        width:160px;
                                        border:none;
                                        float:left;
                                        text-shadow:none;
                                        font-size:11px;
                                        line-height:25px;
                                        color:#472F04;
                                        font-weight:normal;
                                        border-right:none;
                                        padding:0;
                                        text-indent:8px;
                                        background:none;
                                        &:hover {
                                            color:#000000;
                                            background:#D1C883;
                                            text-shadow:none;
                                            background: -webkit-gradient(linear, left top, left bottom, from(#B7AE66), to(#D1C883));
                                            background-image: -moz-linear-gradient(top, #B7AE66, #D1C883);
                                        }
                                    }
                                }
                            }
                            a {
                                border-right:1px solid #A2DD49;
                                text-shadow:1px 1px 1px #122D0B;
                                background:#67b021;
                                background: -webkit-gradient(linear, left top, left bottom, from(#327e04), to(#67b021));
                                background-image: -moz-linear-gradient(top, #327e04, #67b021);
                            }
                        }
                    }
                }
            }
        }
        #main {
            position:relative;
            background:#ffffff;
            border-top:1px solid #261902;
            border-bottom:1px solid #AFA769;
            z-index:2;
            #content {
                position:relative;
                padding:10px;
            }
        }
        #footer {
            z-index:1;
            background:#D1C883;
            background: -webkit-gradient(linear, left top, left bottom, from(#D1C883), to(#B7AE66));
            background-image: -moz-linear-gradient(top, #D1C883, #B7AE66);
            border-top:1px solid #E0D9A1;
            padding:10px;
        }
    }
}
.clear-l {
    height:0;
    overflow:hidden;
    clear:left;
}
.clear-r {
    height:0;
    overflow:hidden;
    clear:right;
}
.clear {
    height:0;
    overflow:hidden;
    clear:both;
}
