.titlebar {
    margin: 10px 0;
    .title {
        width: 300px;
        float: left;
        h1 {
            margin: 0;
            font-weight: normal;
        }
    }
    .navigation {
        width: 600px;
        float: right;
        text-align: right;
        a {
            line-height: 12px;
            text-align: center;
            margin: 2px auto;
            padding: 3px 10px;
            font-size: 10px;
            text-transform: uppercase;
            background: #9AC181;
            background: -webkit-gradient(linear, left top, left bottom, from(#D1EAC0), to(#9AC181));
            background-image: -moz-linear-gradient(top, #D1EAC0, #9AC181);
            border:1px solid #658C4B;
            border-radius: 2px;
            &:hover {
                color: #ffffff;
                background: #387C03;
                background: -webkit-gradient(linear, left top, left bottom, from(#2C5B0A), to(#387C03));
                background-image: -moz-linear-gradient(top, #2C5B0A, #387C03);
            }
        }
    }
}
.filter-form {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            float: left;
        }
    }
    label {
        height: 22px;
        line-height: 22px;
        padding: 0 5px;
        margin: 2px 2px 0 3px;
        background: #D4CCB0;
        border-radius: 3px;
        width: 70px;
        font-size: 10px;
        float: left;
    }
    input, select {
        width: 140px;
        margin-top:2px;
        float: left;
    }
    .ui-accordion-content {
        padding-top: 0;
    }
}
.edit-form {
    width: 60%;
    margin: 0 auto;
    .ui-accordion-content {
        padding-top: 0;
    }
}
label {
    display: block;
    font-family: 'Lucida sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    color: #472F04;
    font-size: 11px;
}
input {
    font-family: 'Lucida sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 95%;
    border: 1px solid #D4CCB0;
    border-radius: 4px;
    padding: 3px;
    
}
select {
    font-family: 'Lucida sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 96%;
    border: 1px solid #D4CCB0;
    border-radius: 4px;
    padding: 2px 3px;
}
ul{
    &.errorlist {
        margin: 0 0 1px 0;
        padding: 8px 0 0 0;
        clear: left;
        list-style-type: none;
        li {
            display: inline;
            padding: 2px 10px 2px 15px;
            border-radius: 4px;
            background-color: #DB1111;
            color: #ffffff
        }
    }
}
#del-confirm {
    display: none;
}