{% extends 'layout_content.html' %}
{% block page_js %}
    <script type="text/javascript" src="/media/js/csrf_token_handler.js"></script>
    <script type="text/javascript" src="/media/js/checkbox.js"></script>
    <script type="text/javascript">
        var csrf = '{{ csrf_token }}';
    </script>
    <script src="{% autoescape off %}{{ page_js }}{% endautoescape %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    {% autoescape off %}
        {{ header_link }}
    {% endautoescape %}
    <div id="accordion" class="filter-form">
        <h3><a href="#">{{ title }}</a></h3>
        <div>
            <form action="" method="post" id="form-filter">
                <ul>
                    {{ form.as_ul }}
                </ul>
                <div class="clear-l"></div>
                <input type="submit" value="Rechercher" id="btn_submit" />
                <input type="button" value="Export Excel" id="btn_export_xls" />
                <input type="button" value="Export Pdf" id="btn_export_pdf" />
                <input type="button" value="Supprimer les sélectionés" id="bulk-delete" style="width: 178px;"/>
                <div class="clear-l"></div>
            </form>
        </div>
    </div>

    <table id="example" class="display" style="width: 100%;">
    </table>

    <div id="del-confirm" title="Suppression d'un enregistrement">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
            Voulez-vous supprimer cet enregistrement ?</p>
    </div>
{% endblock %}