<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Land Data 2.0</title>
    {% block page_meta %} {% endblock %}

    {% load compress %}
    {% compress css %}
        {% include 'master_css.html' %}
        {% include 'master_scss.html' %}
    {% endcompress %}

    {% load compress %}
    {% compress css %}
        {% block page_css %}{% endblock %}
        {% block page_scss %} {% endblock %}
    {% endcompress %}

    {% load compress %}
    {% compress js %}
        <script type="text/javascript">
            var csrf = '{{ csrf_token }}';
        </script>
         {% include 'javascript.html' %}
    {% endcompress %}
    {% block page_js %} {% endblock %}
</head>
<body class="body">
    {% block body %} {% endblock %}
</body>
</html>
