<ul>
    <li>
        <a href="{% url dashboard.views.index_dashboard %}" class="first">Tableau de bord</a>
    </li>
    <li>
        <a href="javascript:void(0)">Indicateurs</a>
        <ul>
            <li><a href="{% url indicateurs.views.indicateurs_par_date %}">Indicateurs/localite</a></li>
            <li><a href="{% url indicateurs.views.indicateur_par_date %}">Chaque indicateur/période</a></li>
            <li><a href="/indicateurs/cumuls/" class="last">Indicateurs cumulés</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Ratios</a>
        <ul>
            <li><a href="/ratios/certification/">Taux de certification</a></li>
            <li><a href="/ratios/certification-aux-femmes/">Certificats femmes</a></li>
            <li><a href="/ratios/conflictualite/">Taux de conflictualité</a></li>
            <li><a href="/ratios/resolution/">Taux de résolution</a></li>
            <li><a href="/ratios/surface-moyen/">Surface moyen</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Guichets fonciers</a>
        <ul>
            <li><a href="{% url guichets.views.lister_guichet %}">Liste des guichets</a></li>
            <li><a href="{% url guichets.views.lister_bailleurs %}">Guichets par bailleurs</a></li>
            <li><a href="{% url guichets.views.ajouter_guichet %}">Nouveau guichet</a></li>
            <li><a href="" class="last">Etat d'envoi des RMA</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Données</a>
        <ul>
            <li><a href="{% url donnees.views.lister_donnees %}">Données</a></li>
            <li><a href="{% url sms.views.lister_reception 1 %}">SMS corrects</a></li>
            <li><a href="{% url sms.views.lister_reception 2 %}">SMS erronés</a></li>
            <li><a href="{% url sms.views.lister_reception 3 %}">SMS inconnus</a></li>
            <li><a href="{% url sms.views.lister_envoi %}">Historique SMS</a></li>
            <li><a href="{% url sms.views.sms_tester %}" class="last">Simulateur SMS</a></li>
        </ul>
    </li>
    <!--<li>
        <a href="javascript:void(0)">Outils</a>
        <ul>
            <li><a href="">Envoi de SMS</a></li>
            <li><a href="" class="last">Export site web</a></li>
        </ul>
    </li>-->
    <li>
        <a href="javascript:void(0)" class="last">Paramètres</a>
        <ul>
            <!-- <li><a href="javascript:void(0)">Utilisateurs</a></li> -->
            <li><a href="{% url bailleurs.views.lister_bailleur %}">Bailleurs</a></li>
            <li><a href="{% url localites.views.lister_region %}">Régions</a></li>
            <li><a href="{% url localites.views.lister_district %}">Districts</a></li>
            <li><a href="{% url localites.views.lister_commune %}" class="last">Communes</a></li>
        </ul>
    </li>
</ul>
