<ul>
    <li>
        <a href="javascript:void(0)" class="first">Tableau de bord</a>
    </li>
    <li>
        <a href="javascript:void(0)">Indicateurs</a>
        <ul>
            <li><a href="{% url indicateurs.views.indicateurs_par_date %}">Indicateurs par localite</a></li>
            <li><a href="{% url indicateurs.views.indicateur_par_date %}" class="last">Indicateurs par période</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Ratios</a>
        <ul>
            <li><a href="/ratios/certification/">Taux de certification</a></li>
            <li><a href="/ratios/certification-aux-femmes/">Certificats femmes</a></li>
            <li><a href="/ratios/conflictualite/">Taux de conflictualité</a></li>
            <li><a href="/ratios/resolution/">Taux de résolution</a></li>
            <li><a href="/ratios/surface-moyen/">Surface moyen</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Guichets fonciers</a>
        <ul>
            <li><a href="{% url guichets.views.lister_guichet %}">Liste des guichets</a></li>
            <li><a href="{% url guichets.views.ajouter_guichet %}">Nouveau guichet</a></li>
            <li><a href="">Etat d'envoi des RMA</a></li>
            <li><a href="" class="last">Guichets par bailleurs</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Données</a>
        <ul>
            <li><a href="{% url donnees.views.lister_donnees %}">Données validées</a></li>
            <li><a href="{% url sms.views.lister_reception %}">SMS reçus</a></li>
            <li><a href="{% url sms.views.lister_envoi %}" class="last">SMS envoyés</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Outils</a>
        <ul>
            <li><a href="">Envoi de SMS</a></li>
            <li><a href="" class="last">Export site web</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)" class="last">Paramètres</a>
        <ul>
            <li><a href="javascript:void(0)">Utilisateurs</a></li>
            <li><a href="{% url bailleurs.views.lister_bailleur %}">Bailleurs</a></li>
            <li><a href="{% url localites.views.lister_region %}">Régions</a></li>
            <li><a href="{% url localites.views.lister_district %}">Districts</a></li>
            <li><a href="{% url localites.views.lister_commune %}" class="last">Communes</a></li>
        </ul>
    </li>
</ul>
