<ul>
    <li>
        <a href="javascript:void(0)" class="first">Tableau de bord</a>
    </li>
    <li>
        <a href="javascript:void(0)">Indicateurs</a>
        <ul>
            <li><a href="">Indicateurs par localite</a></li>
            <li><a href="" class="last">Indicateurs par période</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Ratios</a>
        <ul>
            <li><a href="">Taux de conflictualité</a></li>
            <li><a href="">Taux de résolution</a></li>
            <li><a href="">Ratio</a></li>
            <li><a href="">Surface moyen</a></li>
            <li><a href="" class="last">Ratio</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Guichets fonciers</a>
        <ul>
            <li><a href="">Liste des guichets</a></li>
            <li><a href="">Nouveau guichet</a></li>
            <li><a href="">Etat d'envoi des RMA</a></li>
            <li><a href="" class="last">Guichets par bailleurs</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Données</a>
        <ul>
            <li><a href="">Données validées</a></li>
            <li><a href="">SMS reçus</a></li>
            <li><a href="" class="last">SMS envoyés</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)">Outils</a>
        <ul>
            <li><a href="">Envoi de SMS</a></li>
            <li><a href="" class="last">Export site web</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)" class="last">Paramètres</a>
        <ul>
            <li><a href="">Utilisateurs</a></li>
            <li><a href="">Bailleurs</a></li>
            <li><a href="{% url pnf.localites.views.lister_province %}">Régions</a></li>
            <li><a href="">Districts</a></li>
            <li><a href="" class="last">Communes</a></li>
        </ul>
    </li>
</ul>
