{% extends 'layout_content.html' %}

{% block content %}
    <div class="titlebar">
        <div class="title">
            <h1>Régions</h1>
        </div>
        <div class="navigation">
            <a href="{% url localites.views.ajouter_region %}">Ajouter une région</a>
        </div>
        <div class="clear"></div>
    </div>

    {% if regions.object_list|length > 0 %}
    <table class="tb_list">
        <tr>
            <th width="200">Noms</th>
            <th width="80">Codes</th>
            <th width="140">Provinces</th>
            <th width="140" style="text-align: center">Actions</th>
        </tr>
        {% for region in regions.object_list %}
        <tr>
            <td>{{ region.nom }}</td>
            <td>{{ region.code }}</td>
            <td>{{ region.province }}</td>
            <td class="tb_action">
                <a href="{{ region.lien_editer }}">edit</a>
                <a href="{{ region.lien_supprimer }}"
                   onclick="return confirm('Voulez-vous supprimer cet enregistrement ?')">suppr</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="message">Aucune region enregistrée.</div>
    {% endif %}
{% endblock %}