{% extends 'layout_content.html' %}

{% block content %}
    <div id="accordion" class="filter-form">
        <h3><a href="#">Liste des communes</a></h3>
        <div>
            <form action="" method="post" id="form-filter">
                <ul>
                    {{ form.as_ul }}
                </ul>
                <div class="clear-l"></div>
                <input type="submit" value="Rechercher" />
                <div class="clear-l"></div>
            </form>
        </div>
    </div>

    <table id="example" class="display" style="width: 100%;">
    </table>

    <div id="del-confirm" title="Suppression d'un enregistrement">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
            Voulez-vous supprimer cet enregistrement ?</p>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.filter-form input:submit').button();

            $('#accordion').accordion({
                collapsible: true
            });

            oTable = $('#example').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "bFilter": false,
                "sAjaxSource": '/localites/communes/ajax/',
                "aoColumns": [
                    { "sTitle": "Commune", "mDataProp": "nom" },
                    { "sTitle": "Code", "mDataProp": "code", "sWidth": "60px" },
                    { "sTitle": "Région", "mDataProp": "region" },
                    { "sTitle": "District", "mDataProp": "district" },
                    { "sTitle": "Guichet", "mDataProp": "guichet", "sWidth": "60px" },
                    { "sTitle": "Actions", "mDataProp": "actions", "sWidth": "80px" }
                ],
                "sPaginationType": "full_numbers",
                "bJQueryUI": true,
                "fnServerData": function ( sSource, aoData, fnCallback ) {
                    aoData.push(
                        {"name": "fRegion", "value": $('#id_region').val()},
                        {"name": "fCommune", "value": $('#id_nom').val()},
                        {"name": "fDistrict", "value": $('#id_district').val()},
                        {"name": "fCode", "value": $('#id_code').val()}
                    );
                    $.ajax( {
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": {"csrfmiddlewaretoken": "{{ csrf_token }}", "data": aoData},
                        "success": fnCallback
                    } );
                },
                "sDom": 'rt<"F"ip>'
            });

            $('#del-confirm').dialog({
                autoOpen: false,
                resizable: false,
                height:150,
                modal: true
            });

            $('.del-link').live('click', function(e) {
                e.preventDefault();
                var targetUrl = $(this).attr("href");
                $('#del-confirm').dialog({
                    buttons : {
                        "Supprimer": function() {
                            $.ajax({
                                "dataType": 'json',
                                "type": "POST",
                                "url": targetUrl,
                                "data": {"csrfmiddlewaretoken": "{{ csrf_token }}"},
                                "success": function() {
                                    oTable.fnDraw();
                                }
                            });
                            $(this).dialog("close");
                        },
                        "Annuler": function() {
                            $(this).dialog("close");
                        }
                    }
                });
                $('#del-confirm').dialog('open');
            });

            $('#form-filter').submit(function(){
                oTable.fnDraw();
                return false;
            });
        } );
    </script>
{% endblock %}