{% extends 'layout_content.html' %}
{% block content %}
    <div id="accordion" class="filter-form">
        <h3><a href="#">{{ title }}</a></h3>
        <div>
            <form action="" method="post" id="form-filter">
                {% csrf_token %}
                <ul>
                    {{ form.as_ul }}
                </ul>
                <div class="clear-l"></div>
                <input type="submit" value="Rechercher" id="btn_submit" />
{#                <input type="button" value="Export Jpeg" id="btn_export_jpg" />#}
{#                <input type="button" value="Export Pdf" id="btn_export_pdf" />#}
                <div class="clear-l"></div>
            </form>
        </div>
    </div>
    <div align="center">
        <img src="{{ carte }}" alt="" />
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_periode').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                regional: "fr",
                dateFormat: "mm/yy",
                onClose: function(dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                },
                beforeShow : function(input, inst) {
                    if ((datestr = $(this).val()).length > 0) {
                        var year = datestr.substring(datestr.length-4, datestr.length);
                        var month = parseInt(datestr.substring(0, 2), 10)-1;
                        $(this).datepicker('option', 'defaultDate', new Date(year, month, 1));
                        $(this).datepicker('setDate', new Date(year, month, 1));
                    }
                }
            });
            $('#id_periode').focus(function () {
                $(".ui-datepicker-calendar").hide();
            });
        });
    </script>
{% endblock %}